src/main/mule/search_sales_document.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:enosix="http://www.mulesoft.org/schema/mule/enosix" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/enosix http://www.mulesoft.org/schema/mule/enosix/current/mule-enosix.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="search_sales_document-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="search_sales_document-config" api="resource::8374222a-f276-4eaa-bac6-9df118de5359:Sales_Document_Search:1.0.1:raml:zip:search_sales_document.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <enosix:config name="Enosix_Config" doc:name="Enosix Config" doc:id="eca31885-4a73-41a3-ba5a-d27682a3e413" >
		<enosix:connection url="${enosix.url}" user="${enosix.username}" password="${enosix.password}" xsdPath="C:\Users\NarayanaMogaparti\AnypointStudio714\studio-workspace\enosix-sales-document-api\src\main\resources\xsd" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</enosix:connection>
	</enosix:config>	
	<configuration-properties doc:name="Configuration properties" doc:id="d2fc22f6-28e9-4b0b-bbdc-52391ae85b4d" file="env.properties" />
	<flow name="search_sales_document-main">
        <http:listener config-ref="search_sales_document-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="search_sales_document-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="search_sales_document-console">
        <http:listener config-ref="search_sales_document-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="search_sales_document-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="get:\search\salesdocument:search_sales_document-config">
        <enosix:search doc:name="Search" doc:id="83452838-4f02-4aa4-9b3d-ad928049c7f8" config-ref="Enosix_Config" type="SFCISalesDocument" pageSize="#[attributes.queryParams.pageSize]" pageNumber="#[attributes.queryParams.pageNumber]">
			<enosix:search-input ><![CDATA[#[%dw 2.0
output application/xml skipNullOn="everywhere"
fun convert(strBoolean)  = if(strBoolean)  'X'  else ''
---
SFCISalesDocument_SC: {
	SEARCHPARAMS @(CompletedOnly: convert(attributes.queryParams.completedOnly as Boolean default false),
    CustomerPONumber: attributes.queryParams.customerPONumber,  
    FromCreateDate: attributes.queryParams.fromCreateDate,
    FromSalesDocumentNumber: attributes.queryParams.fromSalesDocumentNumber,
    Leading: attributes.queryParams.leading,
    Material: attributes.queryParams.material,
    OpenOnly: convert(attributes.queryParams.openOnly as Boolean default false),
    SalesDocumentVersionNumber: attributes.queryParams.salesDocumentVersionNumber,
    ShipToParty: attributes.queryParams.shipToParty,
    ShipToPurchaseOrderNumber: attributes.queryParams.shipToPurchaseOrderNumber,
    SoldToParty: attributes.queryParams.soldToParty,
    ToCreateDate: attributes.queryParams.toCreateDate,
    ToSalesDocumentNumber: attributes.queryParams.toSalesDocumentNumber,
    TransactionGroup: attributes.queryParams.transactionGroup,
    Username: attributes.queryParams.username,
    X_BillingBlock: convert(attributes.queryParams.billingBlock as Boolean default false),
    X_CreditBlock: convert(attributes.queryParams.creditBlock as Boolean default false),
    X_DeliveryBlock: convert(attributes.queryParams.deliveryBlock as Boolean default false),
    YourReference: attributes.queryParams.yourReference,
    tablerowstate: 'inserted' ) : null
}]]]></enosix:search-input>
		</enosix:search>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
 { 
     "PageInfo": {
		"PageSize": attributes.pagingInfo.pageSize,
		"PageNumber":attributes.pagingInfo.pageNumber,
		 "TotalRecords":attributes.pagingInfo.totalRecords  
	},
  "SalesDocuments": [
  	payload.SFCISalesDocument_SR.*SEARCHRESULT map {
      "SalesDocument": $.@SalesDocument,
      "CustomerPONumber": $.@CustomerPONumber,
      "CreateDate": $.@CreateDate,
      "SalesDocumentType": $.@SalesDocumentType,
      "SalesDocumentTypeDescription": $.@SalesDocumentTypeDescription,
      "SoldToParty": $.@SoldToParty,
      "SoldToName": $.@SoldToName,
      "SoldToCity": $.@SoldToCity,
      "SoldToRegion": $.@SoldToRegion,
      "SoldToRegionDescription": $.@SoldToRegionDescription,
      "SoldToCountry": $.@SoldToCountry,
      "SoldToCountryDescription": $.@SoldToCountryDescription,
      "ShipToParty": $.@ShipToParty,
      "ShipToName": $.@ShipToName,
      "ShipToCity": $.@ShipToCity,
      "ShipToRegion": $.@ShipToRegion,
      "ShipToRegionDescription": $.@ShipToRegionDescription,
      "ShipToCountry": $.@ShipToCountry,
      "ShipToCountryDescription": $.@ShipToCountryDescription,
      "NetValueInDocumentCurrency": $.@NetValueInDocumentCurrency,
      "TaxAmountInDocumentCurrency": $.@TaxAmountInDocumentCurrency,
      "SDDocumentCurrency": $.@SDDocumentCurrency,
      "OrderStatus": $.@OrderStatus,
      "SalesDocumentVersionNumber": $.@SalesDocumentVersionNumber,
      "YourReference": $.@YourReference,
      "ShipToPurchaseOrderNumber": $.@ShipToPurchaseOrderNumber,
      "TransactionGroup": $.@TransactionGroup,
      "DeliveryBlock": $.@DeliveryBlock,
      "DeliveryBlockDescription": $.@DeliveryBlockDescription,
      "BillingBlock": $.@BillingBlock,
      "BillingBlockDescription": $.@BillingBlockDescription,
      "CreditBlock": $.@CreditBlock,
      "CreditBlockDescription": $.@CreditBlockDescription,
      "DeliveryStatus": $.@DeliveryStatus,
      "DeliveryStatusDescription": $.@DeliveryStatusDescription,
      "TotalQuantity": $.@TotalQuantity,
      "GoodsIssuedQuantity": $.@GoodsIssuedQuantity,
      "LastChangedDate": $.@LastChangedDate,
      "StartDate": $.@StartDate,
      "EndDate": $.@EndDate,
      "CUSTOM01": $.@CUSTOM01,
      "CUSTOM02": $.@CUSTOM02,
      "CUSTOM03": $.@CUSTOM03,
      "CUSTOM04": $.@CUSTOM04,
      "CUSTOM05": $.@CUSTOM05,
      "CUSTOM06": $.@CUSTOM06,
      "CUSTOM07": $.@CUSTOM07,
      "CUSTOM08": $.@CUSTOM08,
      "CUSTOM09": $.@CUSTOM09,
      "CUSTOM10": $.@CUSTOM10
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
